---
import { Separator } from "@/components/ui/separator";
import ToastButton from "./ToastButton";
---

<div class="m-2 p-2 flex flex-col space-y-4 max-w-screen-md mx-auto">
  <!-- Profile Form -->
  <form
    action="/test-api"
    method="post"
    class="flex flex-col space-y-3 p-4 rounded border shadow-sm"
  >
    <h1 class="font-bold text-2xl">Profile</h1>
    <Separator className="bg-purple-500" />

    <!-- Username Text Input -->
    <section class="flex flex-col space-y-2">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        autocomplete="username"
        placeholder="Prashant"
        aria-describedby="username-description"
      />
      <p id="username-description">
        This is your public display name. It can be your real name or a
        pseudonym. You can only change this once every 30 days.
      </p>
    </section>
    <Separator className="bg-purple-500" />

    <!--Email Drop Down  -->
    <section class="flex flex-col space-y-2">
      <label for="email">Email</label>
      <select id="email" name="email" aria-describedby="email-description">
        <option value="prashant@tesla.com">prashant@tesla.com </option>
        <option value="prashant@spacex.com">prashant@spacex.com </option>
        <option value="prashant@boringcompany.com"
          >prashant@boringcompany.com
        </option>
        <option value="prashant@microsoft.com" disabled
          >prashant@microsoft.com (impossibile)
        </option>
      </select>
      <p id="email-description">
        You can manage verified email addresses in your email settings.
      </p>
    </section>
    <Separator className="bg-purple-500" />

    <!--Bio Textarea  -->
    <section class="flex flex-col space-y-2">
      <label for="bioTextarea">Bio</label>
      <textarea
        id="bioTextarea"
        name="bioTextarea"
        placeholder="I made this form"
        aria-describedby="bioTextareaDescription"
        >Default value goes in as children.
      </textarea>
      <p id="bioTextareaDescription">
        You can @mention other users and organizations to link to them.
      </p>
    </section>
    <Separator className="bg-purple-500" />

    <!--Email Drop Down  -->
    <section class="flex flex-col space-y-2">
      <input
        list="options"
        id="searchInput"
        name="selectedValue"
        required
        placeholder="Type to search..."
      />

      <!-- Datalist with predefined options -->
      <datalist id="options">
        <option value="Apple"></option>
        <option value="Banana"></option>
        <option value="Orange"></option>
        <option value="Mango"></option>
        <option value="Pineapple"></option>
        <option value="Strawberry"></option>
        <option value="Grapes"></option>
      </datalist>
    </section>
    <Separator className="bg-purple-500" />

    <!--Email Drop Down  -->
    <section class="flex flex-col space-y-2"></section>
    <Separator className="bg-purple-500" />

    <!--Email Drop Down  -->
    <section class="flex flex-col space-y-2"></section>
    <Separator className="bg-purple-500" />
  </form>

  <!-- Account Form -->

  <!-- Appearance Form -->
  <ToastButton client:load />
</div>

<style>
  label {
    @apply font-semibold;
  }

  p {
    @apply font-light text-sm;
  }
</style>
