---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import BasicHTMLForm from "@/components/forms/1_html/BasicHTMLForm.astro";
import { Separator } from "@/components/ui/separator";
import GridPractice from "@/components/grid/GridPractice"
---

<Layout title="Learn Forms">
  <h1>Learn Forms</h1>
  <Separator />
  <h2>Html Forms</h2>
  <!-- <BasicHTMLForm /> -->
  <GridPractice/>
</Layout>
